<div class="sidebar">
    <app-sidebar-link [ngClass]="'selected'" (click)="getLink('')" [label]="'Home'"></app-sidebar-link>
    <app-sidebar-link (click)="getLink('experiences')" [label]="'Experiences'" [link]="'experiences'"></app-sidebar-link>
    <app-sidebar-link (click)="getLink('education')" [label]="'Education'" [link]="'education'"></app-sidebar-link>
    <app-sidebar-link (click)="getLink('projects')" [label]="'Projects'" [link]="'projects'"></app-sidebar-link>
    <app-sidebar-link (click)="getLink('technos')" [label]="'Technos'" [link]="'technos'"></app-sidebar-link>
    <app-sidebar-link (click)="getLink('contacts')" [label]="'Contacts'" [link]="'contacts'"></app-sidebar-link>
</div>