<app-sidebar (linkEvent)="getLink($event)"></app-sidebar>
<div (click)="openSidebar()" class="icon-btn">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<app-welcome-page class="app-el"></app-welcome-page>
<app-experiences class="app-el" id="experiences"></app-experiences>
<app-formation class="app-el"  id="education"></app-formation>
<app-projects class="app-el"  id="projects"></app-projects>
<app-technos class="app-el"  id="technos"></app-technos>
<app-contact class="app-el" id="contacts"></app-contact>