:host{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;


    .icon-btn{
        display: none;
        height: 30px;
        width: 30px;
        position: fixed;
        background: rgb(255, 255, 255);
        border-radius: 100%;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 3;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .bar1, .bar2, .bar3 {
        width: 15px;
        height: 2px;
        background-color: #333;
        margin: 1px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(2px, 4px);
        transform: rotate(-45deg) translate(2px, 4px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-1px, -8px);
        transform: rotate(45deg) translate(-1px, -8px);
      }


      @media screen and (max-width: 876px) {
        .icon-btn{
          display: flex;
      }
    }

    
}