<div class="welcome">
    <div class="elements">
        <h2>
            <span><span>Hello,</span></span>
            <span><span>I'm FRY Marshall</span></span>
        </h2>
        <p class="role"><span><span>Fullstack</span></span> <span><span>developper</span></span></p>
    
        <p class="biography">
            <span>
                <span>
                    My Name is FRY Marshall, am 24 years old and am an Ivorian Fullstack developper.
                    During my whole life, i've always been inspired by creativity and how to solve issues.
                    Am currently on my graduation internship at Netatmo, an iOT company which build 
                    devices and software to manage a home like security cameras, door bell.
                    I'm working as a front-end developper and i work mainly in Angular.
                    Except that i'll define myself as a fullstack developper.
                    I like to work on personnals projects in different front or back end technologies like
                    Angular, Node JS, Laravel and i can also build mobile app by using Flutter...
                </span>
            </span>
        </p>
    
        <div class="cv" (click)="downloadCV()">
            Download my cv
        </div>
    </div>
</div>
