<div class="welcome">
    <h2>
        <span><span>Hello,</span></span>
        <span><span>I'm FRY Marshall</span></span>
    </h2>
    <p class="role"><span><span>Fullstack</span></span> <span><span>developper</span></span></p>

    <p class="biography">
        <span>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
                Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, 
                dolor. Cras elementum ultrices diam. Maecenas ligula massa,
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
                Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, 
                dolor. Cras elementum ultrices diam. Maecenas ligula massa,
            </span>
        </span>
    </p>

    <div class="cv">
        Download my cv
    </div>
</div>
