:host{

   .project{
       display: flex;
       flex-direction: column;
       .bar{
            width: 100%;
            height: 1px;
            margin-top: 1vw;
            margin-bottom: 1vw;
            background-color: #646464;
       }

       @mixin fadeAnimation($margin: 0px, $delay1: 0ms, $delay2: 200ms) {
        > span{
            overflow: hidden;
            display: block;

            &:nth-child(1) span{
                animation-delay: $delay1;
            }

            &:nth-child(2) span{
                animation-delay: $delay2;
                margin-left: $margin;
            }

            > span{
                transform: translateY(100%);
                display: block;
            }
        }
    }

       .technologies{
           display: flex;

           .techno{
               padding: 10px;
               background-color: wheat;
               height: 5px;
               text-align: center;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 5px;
           }

           .techno:not(:first-child){
               margin-left: 8px;
           }
       }
        .img{
            height: 300px;
            width: 300px;
            border-radius: 5px;
            border: 1px solid #919191;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 36%;
                object-fit: cover;
            }
        }

        .name{
            font-size: 1.4rem;
            font-weight: bold;
            @include fadeAnimation(_,2s);
        }
   }

}