:host(.selected){
    .icon{ 
       /*  background: #FF2E00 !important; */
       display: none;
    }

    p{
        transition: 1s;
        border-radius: 5px;
        padding: 5px;
        background: #FF2E00 !important;
        color: white
    }


}
:host{

    .link{
        display: flex;
        justify-content: flex-end;
        margin-top: 35px;
        margin-left: 20px;
        color: inherit;
        p{
            font-size: 1.1rem;
        }

        .icon{
            width: 8px;
            height: 18px;
            background: #C4C4C4;
            border-radius: 5px;
            margin-left: 15px;
        }
    }
}