<div class="elements">
    <div class="img">
        <img src="/assets/pic.jpg" alt="">
    </div>
    <div class="description">
        <h2>
            Hello, <br>
            I'm FRY Marshall
        </h2>
        <p class="job">Fullstack developper</p><br><br>
        <p>You can contact me at these contacts below</p>
        <div class="contacts">
            <div class="contact">
                <img src="/assets/phone.png" alt="">
                <a href="">+33763888725</a>
            </div>
            <div class="contact">
                <img src="/assets/mail.png" alt="">
                <a href="mailto:marshalfry1998@gmail.com">marshalfry1998@gmail.com</a>
            </div>
            <div class="contact">
                <img src="/assets/instagram.png" alt="">
                <a href="">fry_marshall</a>
            </div>
        </div>
    </div>
</div>