<div class="formations">
  <div class="elements">
    <h2>
      <span><span>Education</span></span>
      <span class="icon"></span>
    </h2>
    <app-formation-element
      [year]="'2020-2022'"
      [school]="'Université de Haute-Alsace'"
      [place]="'Mulhouse - France'"
      [degree]="'Master Miage'"
      [result]="'( En cours )'"
      >
      </app-formation-element>

      <app-formation-element
        [year]="'2019-2020'"
        [school]="'Université de Haute-Alsace'"
        [place]="'Mulhouse - France'"
        [degree]="'Licence 3 Miage'"
        [result]="'( Mention bien )'"
      >
      </app-formation-element>

      <app-formation-element
        [year]="'2020-2022'"
        [school]="'Université Félix Houphouët-BOIGNY'"
        [place]="'Abidjan - Côte d\'Ivoire'"
        [degree]="'Licence Miage - Génie informatique'"
      >
      </app-formation-element>

      <app-formation-element
        [year]="'2015-2016'"
        [school]="'Lycée de garçons de Bingerville'"
        [place]="'Bingerville - Côte d\'Ivoire'"
        [degree]="'Baccalauréat scientifique'"
        [result]="'( Mention assez-bien )'"
      >
      </app-formation-element>
  </div>

</div>
