:host{
    display: block;
    margin-top: 20px;
    .top, .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .year{
        background: #0074B6;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
        color: white;
        text-align: center;
    }

    .school{
        font-size: 1.1rem;
        color: #00573D;
        text-transform: uppercase;
    }
    .place{
        font-size: 1.1rem;
        color: #003626;
    }

    .degree-result{
        color: #747474;
    }

    .details{
        background: #000000;
        border-radius: 5px;
        padding: 10px;
        width: 50px;
        color: white;
        cursor: pointer;
        display: none;
    }

    @media screen and (max-width: 480px) {
        .top, .bottom{
            flex-direction: column;
            align-items: flex-start;
        }

        .details, .place{
            margin-top: 10px;
        }
    }
}