<app-modal 
    id="modal-experience"
    [header]="getHeader(experienceSelected)" 
    [body]="experienceSelected.description" 
    [technologies]="experienceSelected.technologies"
>
</app-modal>
<div class="experiences">
    <div class="elements">
      <h2>
        <span><span>Profesional experiences</span></span>
        <span class="icon"></span>
      </h2>
      <app-experience-element
        *ngFor="let experience of listExperiences"
        [year]="experience.year"
        [place]="experience.place"
        [type]="experience.type"
        [company]="experience.company"
        [id]="experience.id"
        (openDetail)="openModal($event)"
        >
      </app-experience-element>
    </div>  
  </div>
  